body {
  font-family: sans-serif;
  margin: 0px 3% 100px 3%;
  background: #ffffc7;
}

#parasol_image {
  margin-left: 90%;
  width: 10%;
  height: 10%;
}

#box_image {
  margin-bottom: 3%;
  width: 100%;
  height: 95%;
}

.graph {
  width: 100%;
  opacity: 0.5;
  /* position: absolute; */
  /* bottom: 0; */
  pointer-events: none;
  transform:rotateX(180deg);
}

/* エラーメッセージに関するクラス */

.error {
  color: #ff0000;
}

/*Transform-box:fill-box*/
.Header__shape {
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

.myRect {
  animation-name: change-height;
}

@keyframes change-height {
  0% {
    height: 0%;
  }
}

#flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.flex {
  display: flex;
}

.user_list {
  height: 50px;
  margin: 20px 20px 0px;
}

.image_color {
  height: 100%;
}

.user_name {
  height: 100%;
  font-size: xx-large;
  text-align: center;
}

.attend {
  background-color: white;
  color: black;
}

.absent {
  background-color: #04012c;
  color: white;
}

.in_out {
  height: 100%;
}

.in_image {
  background-color: white;
}

.out_image {
  background-color: #04012c;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graph_image {
  width: 60px;
  height: 24px;
  cursor: pointer;
}

.graph_time {
  /* max-width: 300px; */
  padding: 0px 20px;
  margin: 0px;
}

#big_size {
  width: 28%;
  height: 25%;
  font-size:5em;
  left: 4%;
  /* bottom: 2%; */
  /* background-color: #04012c; */
  /* color: white; */
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  /* background-image: url("./../img/logout.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: 10%; */
}

#mid_size {
  width: 28%;
  height: 25%;
  font-size: 5em;
  left: 36%;
  /* bottom: 2%; */
  /* background-color: #04012c; */
  /* color: white; */
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  /* background-image: url("./../img/logout.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: 10%; */
}

#small_size {
  width: 28%;
  height: 25%;
  font-size: 5em;
  left: 68%;
  /* bottom: 2%; */
  /* background-color: #04012c; */
  /* color: white; */
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  /* background-image: url("./../img/logout.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: 10%; */
}

#custom {
  width: 45%;
  height: 25%;
  font-size: 3em;
  left: 2%;
  top: 65%;
  /* bottom: 2%; */
  /* background-color: #04012c; */
  /* color: white; */
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  /* background-image: url("./../img/logout.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: 10%; */
}

#none_bag {
  width: 45%;
  height: 25%;
  font-size: 3em;
  right: 2%;
  top: 65%;
  /* bottom: 2%; */
  /* background-color:  #04012c; */
  /* color: white; */
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  /* background-image: url("./../img/setting.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: 10%; */
}

#ok {
  width: 45%;
  height: 15%;
  font-size: 3em;
  right: 2%;
  /* top: 65%; */
  bottom: 2%;
  /* background-color:  #04012c; */
  /* color: white; */
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  /* background-image: url("./../img/setting.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: 10%; */
}

#back_size_display {
  width: 15%;
  height: 10%;
  font-size: 3em;
  left: 2%;
  top: 1%;
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
}

#retake {
  width: 45%;
  height: 15%;
  font-size: 3em;
  left: 2%;
  /* top: 65%; */
  bottom: 2%;
  /* background-color:  #04012c; */
  /* color: white; */
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  /* background-image: url("./../img/setting.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: 10%; */
}

#result_text {
  font-size: 5em;
  margin-top: 20%;
  margin-left: 20%;
}

/* 管理画面に使うスタイル */
.wrap > input {
  display: block;
}

div {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* 以下，wakamoto変更：ヘッダ用*/
.Header {
  position: relative; /* ヘッダーを固定する */
  top: 0; /* 上部から配置の基準位置を決める */
  left: -3%; /* 左から配置の基準位置を決める */
  width: 106%; /* ヘッダーの横幅を指定する */
  height: 10vh; /* ヘッダーの高さを指定する */
  padding: 10px; /* ヘッダー内側の余白を指定する(上下左右) */
  padding-left: 35%;
  padding-right: 35%;
  font-size: 1.5em;
  background-color: #ffffc7; /* ヘッダーの背景色を指定する */
  color: #000; /* ヘッダーのフォントの色を指定する */
  border-bottom: 3px solid #ffffc7; /* ヘッダーの境界線（下部）を指定する */
  box-shadow: 0 7px 10px 2px #aaaaaa; /* 影を指定（[右][下][ぼかし][広がり][影の色]） */
  cursor: pointer;
}

/* .system_name {
  display: block;
  height: 8vh;
  width: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: -20px;
} */

/* .lab_name {
  padding-top: 2%;
  font-size: 30px;
  text-align: center;
  scroll-padding-top: 80px;
} */

.back {
  width: 45%;
  height: 8%;
  font-size: 1.4em;
  left: 2%;
  bottom: 2%;
  background-color: black;
  color: white;
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  background-image: url("./../img/back.png");
  background-repeat: no-repeat;
  background-position: 10%;
}

.register {
  width: 45%;
  height: 8%;
  font-size: 1.4em;
  right: 2%;
  bottom: 2%;
  background-color: black;
  color: white;
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  background-image: url("./../img/register.png");
  background-repeat: no-repeat;
  background-position: 10%;
}
